---
const personalImageAlt = "Miguel ngel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/midudev.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/midudev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponibles para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Bienvenidos a <strong>ByteCrafters</strong>
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  Somos un equipo de apasionados programadores con una misi贸n clara: <strong
      >Transformar tus ideas en c贸digo brillante.</strong
    > Desde la Ciudad de M茅xico, dise帽amos soluciones que impactan y conectan.

    <br />驴Qu茅 nos hace 煤nicos? Nuestra pasi贸n por la innovaci贸n. No seguimos tendencias; las creamos. Explora nuestro portafolio y descubre c贸mo hacemos que la web cobre vida.
    
    隆Estamos listos para crear algo extraordinario juntos! 
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="bytecrafters00@gmail.com">
      <MailIcon class="size-4" />
      Cont谩ctanos
    </SocialPill>
  </nav>
</div>
